header {
    font-family: "Montserrat", sans-serif;
    background-color: hsla(0, 0%, 0%, 1);
}

header h1 {
    color: hsla(180, 100%, 65%, 1);
    position: relative;
    background-color: hsla(0, 0%, 0%, 1);
    top: 10px;
    width: 100%;
}

nav {
    color: hsla(180, 100%, 65%, 1);
    display: inline-block;
    width: 100%;
    background-color: hsla(225, 0%, 50%, 1);
    position: fixed;
    top: 0;
}

nav li {
    display: inline-block;
}

