header {
    font-family: "Montserrat", sans-serif;
    background-color: hsla(0, 0%, 0%, 1);
}

header h1 {
    color: hsla(180, 100%, 65%, 1);
    position:;
    background-color: hsla(0, 0%, 0%, 1);
    top: 20px;
    width: 100%;
}

nav {
    color: hsla(180, 100%, 65%, 1);
    
}

nav li {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    width: 0, auto;
}

